:root {
  box-sizing: border-box;
  --description-text: white;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

.main {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.wrapper {
  width: max-content;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.description {
  color: var(--description-text);
}

.profile-picture {
  width: 500px;
  height: 500px;
  border: 10px solid yellowgreen;
  border-radius: 2rem;
}
